/* Desktop View */

:root {
    --background-color: #282a36;
    --bebas-font: "Bebas Neue", sans-serif;
    --space-grotesk-font: "Space Grotesk", sans-serif;
}


html {
    font-size: 16px;
    background-color: var(--background-color);
    font-family: var(--bebas-font);
}

h1 {
    font-size: 2rem;
}

.nav-options {
    transition: max-height 0.3s ease;
}

.nav-options a {
    margin: 1rem 0px;
}

.nav-btn label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.nav-btn label span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #f8f8f2;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.aboutMe {
    display: flex;
}

.photo {
    height: 25rem;
    width: 70rem;
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-position: center top -90px;
    background-size: cover;
    border-radius: 50%;
    margin: 20px;
}

.aboutMeText {
}