/* Desktop View */

:root {
    --background-color: #282a36;
    --bebas-font: "Bebas Neue", sans-serif;
    --space-grotesk-font: "Space Grotesk", sans-serif;
}


html {
    font-size: 16px;
    background-color: var(--background-color);
    font-family: var(--bebas-font);
}

h1 {
    font-size: 2rem;
}

.nav-options {
    transition: max-height 0.3s ease;
}

.nav-options a {
    margin: 1rem 0px;
}

.nav-btn label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.nav-btn label span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #f8f8f2;
    border-radius: 2px;
    transition: all 0.3s ease;
}



/* Phone */
@media(max-width: 640px) {
    html {
        font-size: 10px;
    }

    header {
        flex-direction: column;
        height: max-content;
        padding: 2%;
    }

    .nav-options {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .nav-options a {
        margin: 1rem 0px;
    }

    #nav-check:checked + .nav-btn label span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 9px);
    }
    #nav-check:checked + .nav-btn label span:nth-child(2) {
        opacity: 0;
    }
    #nav-check:checked + .nav-btn label span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -8px);
    }
    
    #nav-check:not(:checked) ~ .nav-options {
        overflow: hidden;
        max-height: 0;
    }
    
    #nav-check:checked ~ .nav-options {
        max-height: 300px;
        overflow: visible;
    }

}

@media((min-width:641px) and (max-width:1007px)) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1025px) {
    .nav-btn {
      display: none; /* Hide hamburger */
    }
  
    #nav-check {
      display: none; /* Hide checkbox */
    }
  
    .nav-options {
      display: flex !important; /* Show nav links inline */
      flex-direction: row;
      gap: 2rem;
      height: auto !important;
      overflow: visible !important;
    }
  }