/* Desktop View */

:root {
    --background-color: #282a36;
    --heading-font: "Orbitron", sans-serif;
    --body-font: "Rubik", sans-serif;
    --font-color: #f8f8f2;
    --accent: #8be9fd;
}


html {
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--font-color);
}



.nav-options {
    transition: max-height 0.3s ease;
    font-family: var(--heading-font);
}

.nav-options a {
    margin: 1rem 0px;
}

.nav-btn label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.nav-btn label span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #f8f8f2;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.aboutMe {
    display: flex;
}

.photo {
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 45%;
    margin: 0 auto;
}

.aboutMeText {
    text-align: center;
    width: 90%;
    margin: 20px;
}
.aboutMeText h1, h5 {
    margin: 20px;
    font-family: var(--heading-font);
}

p {
    font-family: var(--body-font);
}

.skills {
    display: inline-block;
    background-color: #ffb86c;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-family: var(--body-font);
}

h5 {
    color: #bd93f9;
}

.card {
    width: 20rem;
    display: inline-block;
    background-color: #bd93f93f;
    border-radius: 5%;
}

#projects {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}